*{
    text-decoration: none;
    color: black;
}

li {

}

nav{
    border:solid;
}

.nav-container{

}

.link-container{
    margin: 5px 5% 5px 5%;
    display: inline-block;

}

.nav-container button {
    justify-self: right;
}

.auth-container{
    display: inline-block;
    float: right;
}

