.register{
    position: relative;
    left: 35vw;
    top: 15vh;
    width: 50vw;
    max-width: 600px;
    height: 60vh;
    border-style: solid;
    border-width: 4px;
    padding: 10px;
    /*justify-content: center;*/
}
/*z - index */

legend {
    font-size: 35px;
}

.register-field label {
    margin-left: 5%;
    display: block;
    font-size: 30px ;
    max-font-size: 1px;
    }

.registerField {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
}

.registerField input,select {
    padding: 2%;
    margin-left: 5%;
    font-size: 2vw;
    max-width: 350px;
    max-height: 100px;
}

.registerButton{
    text-align: center;
}

button, .registerButton input{
    width: 90px;
    height: 55px;
    display: inline-block;
    margin-left: 10px;
}



button[name="back"] {

}
button[name="next"] {



 }
